
<div class="ui-g dashboard-card">

  <div class="ui-g-6 ui-md-12">
    <p-card styleClass="overview-box-1">
      Hi there, I am here to see if its starting from left...................................
    </p-card>
  </div>


  <div class="ui-g-6 ui-md-6">
    <p-card styleClass="overview-box-1">
      Overview box 1
    </p-card>
  </div>
  <div class="ui-g-6 ui-md-6">
    <p-card styleClass="overview-box-2">
      Overview box2
    </p-card>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <p-card>
      Data group 1
    </p-card>
  </div>
  <div class="ui-g-12 ui-md-6">
    <p-card>
      Data group 2
    </p-card>
  </div>
</div>